LOGTRACE_NODE1_JDBC_URL=jdbc:mysql://127.0.0.1:3306/logtrace_node1?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC
LOGTRACE_NODE1_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE1_JDBC_PASSWORD=123456

LOGTRACE_NODE2_JDBC_URL=jdbc:mysql://192.168.88.102:3306/logtrace_node2?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC
LOGTRACE_NODE2_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE2_JDBC_PASSWORD=123456

LOGTRACE_NODE3_JDBC_URL=jdbc:mysql://192.168.88.103:3306/logtrace_node3?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC
LOGTRACE_NODE3_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE3_JDBC_PASSWORD=123456

LOGTRACE_LEDGER_MODE=mock
