LOGTRACE_RELAY_SPOOL_GLOB='/var/spool/logtrace-stage10/filebeat-stage10*'
LOGTRACE_RELAY_STATE_PATH='/var/lib/logtrace-stage10/relay-state.json'
LOGTRACE_RELAY_DEAD_LETTER_PATH='/var/lib/logtrace-stage10/dead-letter.ndjson'
LOGTRACE_RELAY_BATCH_SIZE=200
LOGTRACE_RELAY_FLUSH_INTERVAL_SECONDS=2
LOGTRACE_RELAY_SOURCE=tomcat-cve-2017-12615
LOGTRACE_RELAY_APP_NAME=tomcat
LOGTRACE_RELAY_HOSTNAME=node1
LOGTRACE_RELAY_DEFAULT_FILE_PATH='/opt/log-trace/vulhub-logs/tomcat/localhost_access_log.current.txt'
LOGTRACE_RELAY_ENDPOINT='http://127.0.0.1:8080/api/internal/ingest/filebeat'
LOGTRACE_RELAY_SHARED_TOKEN='CHANGE_ME_STAGE10_MACHINE_TOKEN'
