LOGTRACE_NODE1_JDBC_URL='jdbc:mysql://127.0.0.1:3306/logtrace_node1?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC'
LOGTRACE_NODE1_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE1_JDBC_PASSWORD=123456

LOGTRACE_NODE2_JDBC_URL='jdbc:mysql://192.168.88.102:3306/logtrace_node2?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC'
LOGTRACE_NODE2_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE2_JDBC_PASSWORD=123456

LOGTRACE_NODE3_JDBC_URL='jdbc:mysql://192.168.88.103:3306/logtrace_node3?useUnicode=true&characterEncoding=utf8&connectionTimeZone=UTC'
LOGTRACE_NODE3_JDBC_USERNAME=logtrace_app
LOGTRACE_NODE3_JDBC_PASSWORD=123456

LOGTRACE_LEDGER_MODE=fabric
LOGTRACE_LEDGER_CHANNEL_NAME=mychannel
LOGTRACE_LEDGER_CHAINCODE_NAME=log-evidence
LOGTRACE_LEDGER_MSP_ID=Org1MSP
LOGTRACE_LEDGER_PEER_ENDPOINT=peer0.org1.example.com:7051
LOGTRACE_LEDGER_OVERRIDE_AUTHORITY=peer0.org1.example.com
LOGTRACE_LEDGER_TLS_CERT_PATH=/home/yangli/Documents/fabric-workspace/gateway/org1/peer0.org1.example.com/tls/ca.crt
LOGTRACE_LEDGER_CLIENT_CERT_PATH=/home/yangli/Documents/fabric-workspace/gateway/org1/users/Admin@org1.example.com/msp/signcerts/Admin@org1.example.com-cert.pem
LOGTRACE_LEDGER_CLIENT_KEY_DIR=/home/yangli/Documents/fabric-workspace/gateway/org1/users/Admin@org1.example.com/msp/keystore
